* {
  box-sizing: border-box;
  background: #3b3939;
  color: #fff
}

body {
  margin: 0;
  font-family: sans-serif;
}

h2 {
  background: #0a0a23;

}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

.gameboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gameboard .pokemon-card {
  width: 100%;
  max-width: 12vw;
  object-fit: cover;
  border-radius: 10px;
  background: #0a0a23;
  overflow: hidden;

  border: 4px solid #fdb347;
}

.pokemon-card .pokemon-sprite {
  width: 100%;
  height: 100%;
}

.pokemon-card .types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #0a0a23;
}


.player-hud {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  
}

.player-hud .player-card {
  width: 100%;
  max-width: 12vw;
  object-fit: cover;
  border-radius: 10px;
  background: #0a0a23;

  border: 4px solid #fdb347;
  overflow: hidden;
}

.player-card .pokemon-sprite {
  width: 100%;
  height: 100%;

}

.player-card .types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #0a0a23;
}

.types .type {
  width: 25%;
  height: 100%;
  margin: auto;
}

.gallery::after {
  content: "";
  width: 350px;
}
